@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
  font-family: "Poppins", sans-serif;
}




@theme {
  --color-blue-500: #0057ff;
  --color-blue-background: #eaf4f4;
  --color-light: #44444E;
}
